**/bin/
**/obj/
**/.vs/
**/.idea/
**/.vscode/
.git/
.gitignore
**/*.user
**/.DS_Store
deploy/terraform/.terraform/
deploy/terraform/*.tfstate
deploy/terraform/*.tfstate.*
deploy/terraform/*.tfvars
**/*.md
LICENSE
